body {
  background-color: #3c0d52;
  background-image: url(../images/bgpattern.gif);
}
.container {
  width: 75%;
  min-width: 400px;
  margin: 0 auto;
}
.header {
  margin-top: 10px;
  background: #bdbdbd url(../images/bg.jpg);
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  -webkit-border-top-left-radius: 3em;
  -webkit-border-top-right-radius: 3em;
  -moz-border-top-left-radius: 3em;
  -moz-border-top-right-radius: 3em;
  box-shadow: 0px 0px 10px #000000;
}
.title {
  font: 70px 'Play', Helvetica, Arial, Sans-Serif;
  text-align: center;
  color: #636363;
  text-shadow: 0px 2px 3px #FFFFFF;
  overflow: hidden;
}
.title:hover {
  color: #4a0a5e;
}
.topnav {
  box-shadow: 0px 0px 10px #000000;
}
.topnav ul {
  background-color: #474747;
  text-align: center;
}
.topnav li {
  display: inline-block;
  margin-right: -4px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  background-color: #474747;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}
.topnav a {
  display: block;
  color: #bdbdbd;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.topnav a:hover {
  color: #FFFFFF;
  background-color: #6d0f8a;
}
/*Requires link for the page I'm on to have a class of "active". Need to ask how that works with php*/
.topnav a.active {
  color: #6d0f8a;
  cursor: default;
}
.sidenav {
  width: 400px;
  height: 400px;
  float: left;
  margin-top: 20px;
  margin-left: -75px;
  margin-right: 20px;
  background-color: black;
  background-image: url(../images/record.png);
  border-radius: 100%;
  box-shadow: 0px 0px 10px #000000;
  border: 1px solid black;
}
.sidenav ul {
  text-align: center;
  height: 400px;
}
.sidenav li {
  width: 400px;
  height: 55px;
  line-height: 55px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}
.sidenav a {
  display: block;
  color: #bdbdbd;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  width: 200px;
  margin: 0 auto;
}
.sidenav a:hover {
  color: #FFFFFF;
  background-color: #6d0f8a;
}
.middle {
  background: #bdbdbd url(../images/bg.jpg);
  width: 100%;
  min-height: 375px;
  box-shadow: 0px 12px 10px #000000;
}
.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  height: auto;
  padding: 10px;
  color: #4a0a5e;
}
h1 {
  font: 2.5em 'Play', Helvetica, Arial, Sans-Serif;
}
.bottom {
  width: 100%;
  height: 100px;
  background-color: #474747;
  box-shadow: 0px 0px 10px #000000;
  border-bottom-left-radius: 3em;
  -webkit-border--bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  -webkit-border--bottom-right-radius: 3em;
}
.midcontentwrap {
  min-height: 237px;
}
.button {
  float: left;
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.button a {
  display: block;
  height: 100px;
  width: 200px;
  text-align: center;
  line-height: 100px;
  background-color: #474747;
  border-radius: 10px;
  color: #bdbdbd;
  box-shadow: 0px 0px 10px #000000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.button a:hover {
  color: #FFFFFF;
  background-color: #6d0f8a;
}
.button2 {
  float: left;
  margin-right: 15px;
}
.button2 a {
  display: block;
  height: 100px;
  width: 200px;
  text-align: center;
  line-height: 100px;
  background-color: #474747;
  border-radius: 10px;
  color: #bdbdbd;
  box-shadow: 0px 0px 10px #000000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.button2 a:hover {
  color: #FFFFFF;
  background-color: #6d0f8a;
}
.polaroid {
  float: right;
  width: 200px;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  -webkit-animation: spin 1.5s ease-in 1;
  -moz-animation: spin 1.5s ease-in 1;
  animation: spin 1.5s ease-in 1;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(385deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(385deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(385deg);
    transform: rotate(385deg);
  }
}
.infobox {
  border: solid 2px #3c0d52;
  border-radius: 15px;
  background-color: #636363;
  height: 120px;
  max-width: 400px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  padding-top: 15px;
  padding-left: 15px;
}
.infobox p {
  display: block;
}
