// out: ../css/main.css
// main: main.less

@import "colors";
@import "fonts";
@import "misc";

html {
  height: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: table;
}

body {
background-color: @bgpurple;
background-image: url(../images/bgpattern.gif);
height: 100%;
}

.container {
  width: 75%;
  max-width: 1300px;
  min-width: 500px;
  margin: 0 auto;
  height: auto;

}

.header {
  margin-top: 10px;
  background: @litegrey url(../images/bg.jpg);
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
  -webkit-border-top-left-radius: 3em;
  -webkit-border-top-right-radius: 3em;
  -moz-border-top-left-radius: 3em;
  -moz-border-top-right-radius: 3em;
  box-shadow:0px 0px 10px #000000;
}

.title {
  .maintitle();
  text-align: center;
  color: @midgrey;
  text-shadow: 0px 2px 3px #FFFFFF;
  overflow: hidden;
}

.title:hover {
  color: @accent;
}

.topnav {
  box-shadow:0px 0px 10px #000000;
}

.topnav ul {
  background-color: @darkgrey;
  text-align: center;
}

.topnav li {
  display: inline-block;
  margin-right: -4px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  background-color: @darkgrey;
  .navlinks();
}

.topnav a {
    display: block;
    color: @litegrey;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.topnav a:hover {
    color: #FFFFFF;
    background-color: @bright;
}



.sidenav {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-left: -75px;
  margin-right: 20px;
  background-color: black;
  background-image: url(../images/record.png);
  border-radius: 100%;
  box-shadow:0px 0px 10px #000000;
  border: 1px solid black;
  float: left;
}

.sidenav ul {
  text-align: center;
  height: 400px;
  }

.sidenav li {
    width: 400px;
    height: 55px;
    line-height: 55px;
    .navlinks();
  }

.sidenav a {
        display: block;
        color: @litegrey;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        width: 200px;
        margin: 0 auto;
    }

.sidenav a:hover {
        color: #FFFFFF;
        background-color: @bright;
    }

.middle {
  background: @litegrey url(../images/bg.jpg);
  width: 100%;
  min-height: 375px;
  box-shadow: 0px 12px 10px #000000;
}

.content {
  .sans-serif();
  width: 50%;
  padding: 10px;
  color: @accent;
  display: inline-block;
}
@media screen and (max-width: 1000px) {
  .content {
    width: 90%;
  }
}

h1 {
  .label();
}

.bottom {
  width: 100%;
  height: 100px;
  background-color: @darkgrey;
  box-shadow:0px 0px 10px #000000;
  border-bottom-left-radius: 3em;
  -webkit-border--bottom-left-radius: 3em;
  border-bottom-right-radius: 3em;
  -webkit-border--bottom-right-radius: 3em;
}



.button{
  margin: 20px auto 20px auto;
  a {
    .buttonsmall();
  };
  a:hover {
    .buttonsmallhover();
  }
}

.button2{
  float: left;
  margin-right: 15px;
  a {
    .buttonsmall2();
  };
  a:hover {
    .buttonsmallhover();
  }
}

.maintext {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
}


.polaroid {
margin-right: 20%;
margin-left: 60%;
max-width: 275px;
min-width: 175px;
width: 50%;

   .spinpic();

   img {
     width: 100%;
     height: auto;
  }
}
.spinpic2();

.clear {
  clear: both;
  height: 10px;
  width: 80%;
}

.infoboxwrap {

  min-width: 400px;
  margin-top: 20px;
      width: 100%;
      text-align: center;
}

.infobox {
  border: solid 2px @bgpurple;
  border-radius: 15px;
  background-color: rgba(140, 140, 140, 0.7);
  .sans-serif();
  box-shadow:0px 0px 10px #000000;
  max-height: 115px;
  display: inline-block;
  width: 300px;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;

  p {
    color: black;
    margin-right: 9px;
    margin-top: 5px;
  }
}

.footer {
  width: 100%;
  height: 150px;
  bottom: 0;
  margin-bottom: -150px;
  background: -webkit-linear-gradient(180deg,rgba(255,0,0,0),rgba(99,99,99,1));
  background: -o-linear-gradient(180deg,rgba(255,0,0,0),rgba(99,99,99,1));
  background: -moz-linear-gradient(180deg,rgba(255,0,0,0),rgba(99,99,99,1));
  background: linear-gradient(180deg, rgba(255,0,0,0), rgba(99,99,99,1));

  p {
    width: 90%;
  padding-top: 70px;
  padding-right: 30px;
  text-align: right;
  color: @litegrey;
 }
}

.tablerow {
  display: table-row;
  height: 1px;
}

.contactbox {
  background-color: @darkgrey;
  border-radius: 10px;
  color: @litegrey;
  box-shadow:0px 0px 10px #000000;
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  width: 280px;
  a {
    text-decoration: underline;
    color: @litegrey;
  };
}

/*Gallery CSS*/
.gallery ul {
  text-align: center;
}
.gallery li {
    display: inline-block;
}
.gallery hr {
  height: 10px;
  color: @darkgrey;

}
.gallery p {
  display: inline-block;
}
.gallery h1 {
  display: block;
}

.gallery img:hover {
  .spinpic()
}

.testimonials {
  margin-top: 20px;
  li {
    box-shadow:0px 0px 10px #000000;
  border-radius: 1em;
-webkit-border-radius: 1em;
     }
     p {
       display: inline-block;
     }
}


blockquote {
  font-size: 1.2em;
  display: inline-block;
}

blockquote::before{
  content: "\201C";
  .label();

}

blockquote::after{
  content: "\201D";
  .label();

}

.links {
  margin-top: 20px;
}
.links a {
  text-decoration: underline;
  font-size: 1.5em;
color: @accent;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          margin: 0 auto;
}

.links a:hover {
  background-color: @bright;
  color: white;
}

label {
  display: inline-block;
  width: 12em;
}
